*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

video,
img {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.app-header {
  width: 100%;
  padding: 4rem 0 2rem;
  background-color: #f5fbff;
  text-align: center;
  -webkit-box-shadow: 0 0 2px 0 #b1bbc3;
  box-shadow: 0 0 2px 0 #b1bbc3;
  font-family: 'Noto Sans', sans-serif;
}
img {
  margin: 2rem auto;
  max-width: 300px;
  display: block;
}

.app-header h1 {
  font-size: calc(1rem + 4.5vmax);
  font-weight: 700;
  color: #5c462c;
  line-height: calc(1rem + 5vmax);
}

.app-header p {
  font-size: calc(1rem + 2vmax);
  color: #c5a334;
}

button {
  display: block;
  border: none;
  background: rgb(37, 105, 194);
  max-width: 300px;
  margin: 1.5rem auto;
  color: #ffffff;
  border-radius: 15px;
  width: 60%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-content,
.container {
  max-width: 960px;
  margin: 2rem auto;
}

label {
  display: block;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  color: #866338;
}
input {
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  margin: 0 auto;
  color: #c5a334;
  border: 3px solid #866338;
  border-radius: 12px;
}
@media (min-width: 800px) {
  .side-by-side {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  label {
    margin-top: 4rem;
  }
}
